In [1]:
#Create Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [8]:
#Read in DataFrames

#GDP per Capita
gdp_per_capita_file = "Baseline_Indicator_Data/GDP_per_Capita/GDP_per_Capita_Data.csv"
gdp_per_capita_df = pd.read_csv(gdp_per_capita_file, skiprows = 4)

#GNI per Capita
gni_per_capita_file = "Baseline_Indicator_Data/GNI_per_Capita/GNI_per_Capita_Data.csv"
gni_per_capita_df = pd.read_csv(gni_per_capita_file, skiprows = 4)

#Life Expectancy
life_expectancy_file = "Baseline_Indicator_Data/Life_Expectancy/Life_Expectancy_Data.csv"
life_expectancy_df = pd.read_csv(life_expectancy_file, skiprows = 4)

#Infant Mortality
infant_mortality_file = "Baseline_Indicator_Data/Infant_Mortality/Infant_Mortality_Data.csv"
infant_mortality_df = pd.read_csv(infant_mortality_file, skiprows = 4)

#Exports
exports_file = "Baseline_Indicator_Data/Exports/Export_Data.csv"
exports_df = pd.read_csv(exports_file, skiprows = 4)

#Imports
imports_file = "Baseline_Indicator_Data/Imports/Import_Data.csv"
imports_df = pd.read_csv(imports_file, skiprows = 4)

In [9]:
#Merge the DataFrames
#GDP per Capita & Life Expectancy
summary_df = pd.merge(gdp_per_capita_df, life_expectancy_df, how = "inner", on = "CountryCode")
summary_df.to_csv("World_Development_indicators.csv")
summary_df

,CountryName_x,CountryCode,IndicatorName_x,IndicatorCode_x,1960_x,1961_x,1962_x,1963_x,1964_x,1965_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,75.017,75.15800,75.299000,75.441000,75.583000,75.725000,75.868000,76.010000,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,61.028,61.55300,62.054000,62.525000,62.966000,63.377000,63.763000,64.130000,NaN,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,55.350,56.33000,57.236000,58.054000,58.776000,59.398000,59.925000,60.379000,NaN,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,76.562,76.91400,77.252000,77.554000,77.813000,78.025000,78.194000,78.333000,NaN,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,69.900,70.14878,70.497561,70.797561,71.097561,71.346341,71.646341,71.946341,NaN,NaN
260,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,65.549,65.76800,65.920000,66.016000,66.066000,66.085000,66.087000,66.086000,NaN,NaN
261,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,443.009816,454.962013,473.011615,511.497253,548.995942,584.704072,...,57.669,58.89500,60.060000,61.099000,61.968000,62.649000,63.153000,63.538000,NaN,NaN
262,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,232.188867,220.042137,212.578123,213.896441,242.384333,303.281910,...,55.655,57.12600,58.502000,59.746000,60.831000,61.737000,62.464000,63.043000,NaN,NaN
263,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,278.813699,280.828950,276.688781,277.479715,281.558440,293.308854,...,50.640,52.89600,55.032000,56.897000,58.410000,59.534000,60.294000,60.812000,NaN,NaN

In [ ]:
#Merge the DataFrames
#Summary & Infant Mortality
summary_df = pd.merge(gdp_per_capita_df, life_expectancy_df, how = "inner", on = "CountryCode")
summary_df.to_csv("World_Development_indicators.csv")
summary_df